Flask3.0.0
Flask-SQLAlchemy3.1.1
Flask-Login0.6.3
psycopg2-binary2.9.9
gunicorn21.2.0
python-dotenv1.0.0
requests2.31.0
WeasyPrint60.1
qrcode7.4.2
Pillow10.1.0
Flask-Mail0.9.1
pytz2023.3.post1
firebase-admin==6.4.0
