{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="form-container">
        <h1 class="form-title">Login to Your Account</h1>
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn" style="margin-top: 1rem;">Login</button>
        </form>
        <p class="form-text">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.<br>
            <a href="{{ url_for('forgot_password') }}" style="margin-top: 0.5rem; display: inline-block;">Forgot Password?</a>
        </p>
    </div>
{% endblock %}
